
    <a>
     <%=profile_avatar_select(result)%>
    </a>
    <div>
      <div class="content" style="width:120px">
         <%=link_to result.user_name, profile_path(result.user_name) %>
      </div>
    </div>
  
