<section>
        <div class="container">
        	<%= render 'posts/form' %>
            <%= render @posts %>
        </div>
        <div class="preloader"><i class="fa fa-sun-o fa-spin"></i></div>
    </section>